<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MuzeiLightroom"
        android:name=".MuzeiLightroomApplication"
        tools:targetApi="31">

        <activity-alias
            android:name=".LightroomLauncherActivity"
            android:enabled="@bool/enable_launcher"
            android:exported="true"
            android:targetActivity=".LightroomRedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".LightroomRedirectActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <provider
            android:name="dev.sanson.lightroom.LightroomAlbumProvider"
            android:authorities="${lightroomAuthority}"
            android:label="@string/name"
            android:description="@string/description"
            android:exported="true"
            android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider"/>
            </intent-filter>
        </provider>
    </application>

</manifest>